<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Camera Control</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" type='text/css'
		rel="stylesheet" crossorigin="anonymous">
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" type='text/css'
	rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>

<body>
	<div class="container-fluid">
		<div class="row mt-5">
			<div class="col-md-8 d-flex justify-content-center">
				<div class="card col-md-8">
					<div class="card-header">
						Controls
					</div>
					<div class="card-body">
						<div class="row d-flex flex-fill justify-content-around align-items-center">
							<div class="col-sm-4 d-flex flex-fill justify-content-evenly align-items-stretch">
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<span>Brightness:</span>
										<span id="brightness-value">0</span>
									</li>
									<li class="list-group-item">
										<span>Contrast:</span>
										<span id="contrast-value">0</span>
									</li>
									<li class="list-group-item">Saturation</li>
									<li class="list-group-item">Autofocus</li>
									<li class="list-group-item">Fixed Focus</li>
								</ul>
							</div>
							<div class="col-sm-4 d-flex flex-fill justify-content-evenly align-items-stretch">
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<input type="range" class="form-range" id="brightness_slider" min="0"
											max="255" />
									</li>
									<li class="list-group-item">
										<input type="range" class="form-range" id="contrast_slider" min="0" max="255" />
									</li>
									<li class="list-group-item">
										<input type="range" class="form-range" id="saturation_slider" min="0"
											max="255" />
									</li>
									<li class="list-group-item">
										<input type="checkbox" class="form-check-input" id="autofocus_check" />
									</li>
									<li class="list-group-item">
										<input type="range" class="form-range" id="fixedfocus_slider" min="0" max="250"
											step="5" />
									</li>
								</ul>
							</div>
							<div class="col-sm-4 d-flex flex-fill justify-content-evenly align-items-stretch">
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<button type="button" class="btn btn-primary btn-sm">
											<i class="fas fa-undo"></i>&nbsp;Reset
										</button>
									</li>
									<li class="list-group-item">
										<button type="button" class="btn btn-primary btn-sm">
											<i class="fas fa-undo"></i>&nbsp;Reset
										</button>
									</li>
									<li class="list-group-item">
										<button type="button" class="btn btn-primary btn-sm">
											<i class="fas fa-undo"></i>&nbsp;Reset
										</button>
									</li>
									<li class="list-group-item">
										<button type="button" class="btn btn-primary btn-sm">
											<i class="fas fa-undo"></i>&nbsp;Reset
										</button>
									</li>
									<li class="list-group-item">
										<button type="button" class="btn btn-primary btn-sm">
											<i class="fas fa-undo"></i>&nbsp;Reset
										</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="jumbotron d-flex flex-column justify-content-between align-items-center">
					<h2>
						Camera Controller
					</h2>
					<p>
						v4l2-ctl controller for Logitech C920 Camera, over Python.
					</p>
					<p>
						<a class="btn btn-primary btn-large" id="cam_details_btn">Get Camera Details</a>
					</p>
					<p>
					<div class="card col-md-8">
						<div class="card-header">
							Camera Details
						</div>
						<div class="card-body">
							Name: <span id="cam_name"></span><br />
							Devices:
							<ul id="dev_list" class="list-group list-group-flush">
							</ul>
						</div>
					</div>
					</p>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
	<script src="static/script.js" crossorigin="anonymous"></script>
</body>

</html>